elpa
lisp/cedet
projectile-bookmarks.eld
projectile.cache
ido.last
auto-save-list/
emacs-src/
tern/
lisp/.tern-port
games/
bookmarks
ede-projects.el
url
semanticdb
file-backups/
.notes.txt.swp
.DB.data
network-security.data
srecode-map.el
thumbs
company-statistics-cache.el
undo/
transient/
version.cache
elpy/
TODO.md
*.pyc
cme-last-ver.txt
CME