elpa
projectile-bookmarks.eld
projectile.cache
ido.last
auto-save-list/
emacs-src/
games/
bookmarks
ede-projects.el
test.c
test.cpp
test.js
*~
url
semanticdb
file-backups/
.notes.txt.swp
.DB.data
network-security.data